* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    border: 2px solid red;
}

.hero {
    display: flex;
    width: 100%;
    column-gap: 10px;

}

.box1,
.box2 {
    width: 50%;
    height: 600px;
    border: 2px solid blue;
    position: relative;

}

.box1 {
    background: linear-gradient(to right, rgba(255 0 0 /0.5), rgba(255 255 255 /0.5)), url(../Image/background.jpg);
    background-size: cover;
    background-position: center center;

}

.box2::before {
    background: linear-gradient(to right, rgba(255 0 0 /0.5), rgba(255 255 255 /0.5)), url(../Image/background.jpg);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background-position: center center;
}

.box1,
.box2,
h2 {
    color: black;
}

.box3,
.box4 {
    width: 50%;
    height: 600px;
    background: linear-gradient(to right, rgba(255 0 0 /0.5), rgba(255 255 255 /0.5));
    border: 2px solid blue;
    position: relative;
}

.box3 img,
.box4 img {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
}

.box4::before {
    content: '';
    position: absolute;
    object-fit: cover;
    object-position: center;
    z-index: -1;

}