/* Direct Child  */
.combi>p {
    color: blueviolet;
}

/* h2 with p (First) */
.combi h2+p {
    color: red;
}

/* Next (Direct ) */
.combi div~p {
    font-weight: bold;
}

.anchor a:link {
    color: blue;
}

.anchor a:hover {
    color: red;
}

.anchor a:active {
    color: yellow;
}

.anchor a:visited {
    color: green;
}

ul li:first-child p {
    color: red;
}

ul li:last-child p {
    color: blue
}

ul li:nth-child(3) p {
    color: brown;
}

p:first-child i {
    color: violet;
}

input:focus {
    border: 2px solid red;
}