* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    width: 85%;
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.menu ul {
    margin: 50px;
    display: flex;
    list-style: none;
}

.menu ul li a {
    margin: 50px;
}

.btn {
    margin: 50px;
}

.main {
    display: flex;
    justify-content: center;
}

.productimg {
    width: 250px;
    height: 250px;
    margin: 50px;
    border: 2px solid black;
}

.box1 {
    margin-right: 200px;
    color: red;
}

.box2 {
    margin: 0px;
    color: red;
}

.box3 {
    margin-left: 200px;
    color: red;
}