* {
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    height: 400px;
    background-color: rgb(229, 220, 120);
    color: white;
    display: flex;
    /* flex-direction: row-reverse; */
    /* row-gap: 10px; */
    /* column-gap: 10px; */
    gap: 10px;
}

.block1 {
    width: 200px;
    height: 100px;
    background-color: rgb(169, 103, 231);
    /* margin: 10px; */

}

.block2 {
    width: 200px;
    height: 150px;
    background-color: rgb(225, 110, 110);
    /* margin: 10px; */
}

.Wrap {
    flex-wrap: wrap;
}

.justifycen {
    justify-content: center;
}

.justifyspcbtw {
    justify-content: space-between;
}

.alconcntr {
    align-content: center;
}

.alconstrt {
    align-content: flex-start;
}

.alconend {
    align-content: flex-end;
}

.spcbtwn {
    align-content: space-between;
}

.spcarnd {
    align-content: space-around;
}

.spcevnly {
    align-content: space-evenly;
}

.alitemcntr {
    align-items: center;
}

.alitemstrt {
    align-items: flex-start;
}

.alitemend {
    align-items: flex-end;
}