. {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header {
    width: 85%;
    height: 60px;
    border: 2px solid black;
    margin: 0 auto;
}
.logo{
    width: 10%;
    height: 60px;
    border: 2px solid black;
    float: left;
}
.menu{
    display: inline-block;
    padding: 25px;
    float: right;
}
