.logo p::first-letter {
    font-size: 50px;

}

.data p::first-line {
    color: red;
}

.demo ul li {
    list-style-type: none;
    margin-bottom: 20px;
}

.demo ul li::before {
    content: "*";
    color: white;
    background-color: red;
    font-size: 20px;
    padding: 5px 10px;
    margin-right: 5px;

}

.vadilal ul li {
    list-style-type: none;
    margin-bottom: 20px;
    position: relative;
}

.vadilal ul li::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    width: 15px;
    height: 15px;
}

.vadilal ul li:first-child::before {
    background-image: url(../Image/home.png);
    background-size: 100%;
}
.vadilal ul li:nth-child(2)::before{
    background-image: url(../Image/product.png);
    background-size: 100%;
}
.vadilal ul li:nth-child(3)::before{
    background-image: url(../Image/contact.png);
    background-size: 100%;
}
.vadilal ul li:last-child::before{
    background-image: url(../Image/aboutus.png);
    background-size: 100%;
}